POSTGRES_USER=arcade_user
POSTGRES_PASSWORD=arcade_password
POSTGRES_DB=arcade_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

RABBITMQ_URL=amqp://guest:guest@localhost:5672/

CATALOG_GRPC_ADDR=:50051
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317

STRIPE_SECRET_KEY=sk_test_dummy
STRIPE_WEBHOOK_SECRET=whsec_dummy